<% provide(:title, 'Help') %>

		<h1></h1>
		<p>Once upon a time, the Kittens of the world saw a need for an unobnoxious way of staying in touch with the people they meet.  And so they created Tethrball. Tethrball is, quite simply, the easiest way you can collect and remember who you meet.  </p>

		<p>Using tethrball is easy.  First, you want to create yourself.  Next, go out and meet people.  When they give you their card or email address, simply enter their email into the wee lil' search box.  If the person exists you can collect their card.  If not, they'll be sent an invite to join so that you can collect them.</p>
