<div class="container-fluid">   
  <div class="row-fluid">
  <div class="well">
    <% if signed_in? %>
      <%= render 'shared/feed' %>
    <% else %>

      <center><div class="huge_ass_text">Wallboard.</div><br>
      	<%= image_tag("pink_pushpin.png", :alt => "toilet") %>
      	<h2>What do you need today? </h2><br><br><%= link_to "Start your wallboard", signup_path, class: "btn" %></center>
  </div>
</div>
</div>

<% end %> 