<div class="container-fluid">   
  <div class="row-fluid">
  <div class="well">
    <% if signed_in? %>
      <%= render 'shared/feed' %>
    <% else %>

      <center><div class="huge_ass_text">Wallboard.</div><br>
      	<%= image_tag("toilet.png", :alt => "toilet") %>
      	<h2>Post the things you need... </h2>to the people who care the most.<br><br><%= link_to "Start now", signup_path, class: "btn" %></center>
  </div>
</div>
</div>

<% end %> 