<% if signed_in? %>

<div class="container-fluid">
  <%= render 'shared/feed' %>
</div>
<% else %>

  <div class="center hero-unit">
      <h1>Build Your Lifeline</h1>
      <%= link_to "Start now", signup_path, class: "btn" %>
  </div>

<% end %> 