<div class="container-fluid">   
  <div class="row-fluid">

    <% if signed_in? %>


<!-- No number? Enter the person's email address to invite them to your collection.

      <%= text_field :user_id, class: "textinput" %>
	<%= link_to "Invite", users_path + "d", class: "btn" %>
 -->



<br>
<br>


       <%= render 'shared/feed' %> 


   <% else %>
 
       <center><div class="huge_ass_text"></div><br>
      	<h1>We &#9825; Brands. Do You?
</h1><br><br><%= link_to "Sign up", signup_path, class: "btn" %></center>


 </div>
</div>
</div>

<% end %> 