<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name %>, your community needs your help!</h1>
    <p>
    </p>
          <%= render 'shared/feed' %>
  </body>
</html>