<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @user.name %> has just collected you!</h1>
    <p>
    </p>
    <p>
      Start collecting your own community by clicking <%= link_to "here", @url %>.
    </p>
  </body>
</html>