<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Tethrball, a whole new way of storing the people you meet.</h1>
    <p>
    </p>
    <p>
      To store your new friends, go <%= link_to "here", @url %>.
    </p>
    <p>Happy networking!</p>
  </body>
</html>