<% provide(:title, 'Help') %>


 <div class="small-rectangle"><b>
	<%= @user.description %>
 	</div>
 <br>

<%= mail_to @user.email, image_tag("drumstick.png"), :subject => "Message from your tethrball" %></b></a>
 	</div>
<br><!-- 
<div class="flat-button">
	 		  <%= image_tag("pacman.png") %><span class="editable-element"><b>talk to us
	 	 <%= @user.phone %> 
 	</div> -->
<br>

