<% provide(:title, 'All users') %>

<!--  <form class="navbar-search pull-right">
  <input type="text" class="search-query" placeholder="Search">
 --> 

<div class="container-fluid">
	<div class="well">
		<center>
		<div class="title">
    		Join the helping revolution. </div>
<br>
The best way to network is by helping others. <br><br>

  		<%= form_tag users_path, :method => :get do %>
  	    <%= text_field_tag :search, params[:search], class: "textinput" %>
     <%= submit_tag "Search", :name => nil, class: "btn" %>
  
	</center>

  	<%= render @users %> 
  </div>
</div>
<% end %>

