<% provide(:title, 'All users') %>

<!--  <form class="navbar-search pull-right">
  <input type="text" class="search-query" placeholder="Search">
 --> 

    <h1>Search:</h1>


  <%= form_tag users_path, :method => :get do %>
  
    <%= text_field_tag :search, params[:search] %>
  <!--   <%= submit_tag "Search", :name => nil %>
   -->
<% end %>

</form>


   <center><h3>Other interesting people you might like to meet:</h3></center>
   <br>

<% will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>
