<% provide(:title, @user.name) %>

<div class="container-fluid">
  <div class="row-fluid">
    <span class="span3">
      <div class="well">
        <%= render 'shared/user_info' %>
      </div>
    </span>
    <span class="span9">
            <div class="well">
      <p>      
        <% if @user.microposts.any? %>
          <%= render @microposts %>
          <%= will_paginate @microposts %>
      </p>
    </span>
  </div>
  </div>    
</div>
<% end %>
      