<% provide(:title, @user.name) %>



    <div class="container-fluid">
      <table class="table table-striped">
        <thead>
          <tr class=""></tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <br>
            </td>
            <td>
              <br>
            </td>
            <td>
              <br>
              <div class="row-fluid">
                <span class="span6">
                  <div class="well">
         <%= render 'shared/user_info' %>
                      <br>
                      <button class="btn">You're on this eventstream
                        <br>
                      </button>
                  </div>
                </span>
                <span class="span6">

                  <p>      
                    <% if @user.microposts.any? %>
        <%= render @microposts %>
        <%= will_paginate @microposts %>
      <% end %>
    </p>
                </span>
              </div>
             
    
    </div>
 