<% if @feed_items.any? %>

  <%= render partial: 'shared/feed_item', collection: @feed_items %>
  <%= will_paginate @feed_items %>
  
 <% else %> 

 	<div class="content-title">
 
 </div>

 	Find some brands to follow! <br><br>
 	<%= link_to "Find brands >>", users_path %> 
 </div>
<% end %>


