<% if @feed_items.any? %>

  <%= render partial: 'shared/feed_item', collection: @feed_items %>
  <%= will_paginate @feed_items %>
  
 <% else %> 

 <div class="empty">
 	<div class="title">
 
 </div>

 	Find your favorite brands and follow them. <br><br>
 	<%= link_to "Find brands >>", users_path %> 
 </div>
<% end %>


