<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<!--   <div class="field">
 -->    <%= f.text_area :content, placeholder: "Ask your network a question" %>
  </div>
  <center><%= f.submit "                Ask your peeps!              ", class: "btn btn-large btn-primary" %></center>
<% end %>