<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
<!--   <div class="field">
 -->    <%= f.text_area :content, placeholder: "What do you want to ask your network?" %>
  </div>
  <center><%= f.submit "           Post to your community's wall         ", class: "basic-cancel-button" %></center>
<% end %>