<% @user ||= current_user %>

  <a href="<%= following_user_path(@user) %>"> 
    <strong id="following" class="stat">
       has <%= @user.followed_users.count %> cards
   </strong> 
  </a> 
  <!--  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      has <%= @user.followers.count %> cards
    </strong>
   </a> -->


  