<% @user ||= current_user %>

  <a href="<%= following_user_path(@user) %>"> 
     <strong id="following" class="stat">
       &#9825; <%= @user.followed_users.count %> brands
   </strong>  
  </a> <br>
    <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      Has been &#9825; <%= @user.followers.count %> times
    </strong>
   </a>


  