@import "bootstrap";

html {
  margin: 0px;
  padding: 0px;
  background-image: url(background.png);
  background-repeat: repeat;
  background-position: top left;
}
body {
  margin: 0;
  padding: 0;
  background: transparent;
}
/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 body>p, body>h1, body>h2, body>h3, body>h4, body>h5, body>h6 {
  margin-top: 0 !important;
}
.container-fluid .table tbody tr td .heading.heading-1 {
  margin: 0px 0px 10px 0px;
}
.container-fluid .table tbody tr td.td-1 {
  padding: 20px 8px 8px 8px;
}
.container-fluid .table tbody tr td.td-2 {
  background: #f9f9f9;
}
.navbar .navbar-inner .nav .easel-linkable a.a-1 {
  text-shadow: 0px 1px 0px #ffffff;
}
.navbar .navbar-inner .nav li a.a-2 {
  text-shadow: 0px 1px 0px #ffffff;
}
.navbar .navbar-inner .nav li a.a-3 {
  text-shadow: 0px 1px 0px #ffffff;
}


/* header */

 .navbar .navbar-inner .nav li a.a-1 {
   text-shadow: #ffffff 0px 0px 0px;
 }
 .navbar {
   height: 42px;
 }
 .navbar .navbar-inner {
   height: 42px;
   -moz-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 10px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 0px inset;
   -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 10px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 0px inset;
   -o-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 10px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 0px inset;
   box-shadow: rgba(0, 0, 0, 0.0980392) 0px 0px 10px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 0px inset;
 }
 .navbar .navbar-inner .brand {
   text-shadow: #ffffff 0px 0px 0px;
 }

 #logo {
  float:left;
  margin-left: 10px;
  font-size: 1.2em;
  color: #FFF;
  font-weight: bold;
  padding-top: 2px;
  &:hover {
  color: #fff;
  text-decoration: none;  
    }
  }

.container-fluid {
  padding: 60px 20px 0px 0px;
  margin-top: 20px;
  background: #F9F9F9;
}
.container-fluid .table {
  margin: 0px;
}
.btn {
  width: 70px;
  height: 30px;
  position: absolute;
  top: 6px;
  left: 1054px;
}
input.textinput {
  width: 205.81481456756592px;
  height: 19.777777671813965px;
  position: absolute;
  top: 7px;
  left: 831px;
}