html {
  margin: 0px;
  padding: 0px;
  background-image: url(background.png);
  background-repeat: repeat;
  background-position: top left;
}
body {
  margin: 0px 0px;
  padding: 60px 0 0 0;
  background: transparent;
}

/* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 body>p, body>h1, body>h2, body>h3, body>h4, body>h5, body>h6 {
  margin-top: 0 !important;
}


/* header */

.navbar {
  height: 42px;
}

.navbar .navbar-inner {
  height: 42px;
}

#logo {
  float:left;
  margin-left: 10px;
  font-size: 1.2em;
  color: #CCC;
  font-weight: bold;
  padding-top: 2px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }  
}

.feed-item{
  padding: 60px 60px;
  margin: 0px;
  background: #F9F9F9;

  .today {
    background: #000;
  }

  .table {
    margin: 0px;
  }
}

.btn {
  width: 70px;
  height: 30px;
  position: absolute;
  top: 6px;
  left: 1054px;
}
.textinput {
  margin: 10px 0 20px 250px;
  width: 600px;
  height: 20px;
}

.textfield {
  margin: 10px 0 20px 250px;
  width: 600px;
  height: 100px;
}

.title {
  font-size: 3em;
  line-height: 1.2em;
}
